# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Large files / Data (handled by gdown in app.py)
movies.pkl
movies_dict.pkl
similarity.pkl
netflix_titles.csv.zip